.heading{
    background-color: #f44336;
}
.abc{
    background-color: lightgrey;
}
h1{
    text-align: center;
    font-weight: bold;
    color: blue;
}
.abc{
    background-color: lightgray;
}
button{
    width: 100%;
    
}
.body{
    background-color: lightgrey;
}